.box{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    background-color: aqua;

   /* transition: all;
   transition-duration: 5s;
   transition-delay: 4s;
   transition-timing-function: ease-out; */
   
    transition: all 4s linear 2s ;
}

.box:hover {
    width: 1500px;
    height: 800px;
    background-color: blue;
}